# Kopjo këtë skedar si ".env" (vetëm në server, KURRË mos e commit-o .env vetë)
# dhe plotëso vlerat e vërteta.

DJANGO_SECRET_KEY=ndrysho-me-nje-vlere-te-gjate-te-rastesishme
DJANGO_ALLOWED_HOSTS=jusuf.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://jusuf.pythonanywhere.com
DJANGO_SECURE_SSL_REDIRECT=True

DB_NAME=jusuf$mik
DB_USER=jusuf
DB_PASSWORD=fjalekalimi-i-mysql-nga-paneli-i-pythonanywhere
DB_HOST=jusuf.mysql.pythonanywhere-services.com
DB_PORT=3306
